/* make sure that all elements have their seperate colors so we can debug them if they go haywire. */

body {
    font-family: 'Arial', sans-serif;
    background-color: blanchedalmond;
    
    header {
            background-color: #a8d8e8;
            color: #F8F8F8;
            text-align: center;
            padding: 20px;
            position: relative;
            style = "text-align:center";
        }
    
     .nav-h3 ul {
            display: flex;
            justify-content: center;
         }
         
         .nav-h3 li {
            width: 150px;
            float: center;
         }
         
         .nav-h3 a {
            display: block;
            background: white;
            padding: 20px 10px;
            text-align: center;
         }
         
         .nav-h3 a:hover {
            color: white;
            background: #1E3163;
         }
         
         a.nav-active5 {
            color: white;
            background: #1E3163;
         }
}

.debugDiv {
    background-color:burlywood; /*remove*/
}

.mainUI { /* controls the size of the main ui */
    width: 75%;
}

/* article */

article {
    display: flex;
    flex-direction: row-reverse;
}

.articleElement {
    background-color: beige;
    margin: 5px;
}

.headerElement {
    background-color: beige;
    flex: 1;
}

.mainSection {
    flex: 6;
}

.sideElement {
    background-color:darksalmon;
    flex: 3;
}

/* footer stuff */
#footerText {
    text-align: center;
}
